<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SolutionForBuisnessFrontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div>
            <h5 style="color: #d7d7d7;">Справочники</h5>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Resources">
                   Ресурсы
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Units">
                    Единицы измерения
                </NavLink>
            </div>
        </div>
    </nav>
</div>

